$main-font: italic,
sans-serif;

/* Font sizes */

$font-size-base: 16px !default;

/* Colors */

$amarillito:rgb(207, 218, 169);
$amarillosuave: rgb(192, 192, 138);
$negron:rgb(7, 7, 7);
$black: #ffffff;
$gray: #CCC;
$white: #FFFFFF;